html{
    font-family: 'Pretendard', sans-serif;
    font-size: var(--basic-font-pc);
}
h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}
h2{
    font-size: var(fs-h2);
    font-weight: var(--fw-bold);
}
h3{
    font-size: var(fs-h3);
    font-weight: var(--fw-bold);
}
h4{
    font-size: var(fs-h4);
    font-weight: var(--fw-bold);
}
p{
    line-height: 140%;
}
.bd2{
    font-size: var(--fs-bd2);
}
.de{
    font-size: var(--fs-det);
}
.fwr{
    font-weight: var(--fw-reg);
}
.fwm{
    font-weight: var(--fw-med);
}
.fwb{
    font-weight: var(--fw-bold);
}
.logo{
    line-height: 0;
}
.logo img{
    height: 5rem;
}
.common-frame{
    width: 1440px;
    margin: 0 auto;
}
.sns{
    display: flex;
    gap: 1rem;
}
.sns img{
    height: 1.2rem;
}
.mo{
    display: none;
}
.pad{
    display: none;
}
.pc{
    display: block;
}
main{
    margin-top: 5rem;
}
.btn-style{
    display: inline-flex;
    padding: .25rem 1.5rem;
    align-items: center;
    border: 1px solid #fff;
}
.btn-style:hover{
    background-color: var(--point-color2);
}

@media (max-width:1440px){
    html{
        font-size: var(--basic-font-pad);
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
    }
    .pc{
        display: none;
    }
    .pad{
        display: block;
    }
    .mo{
        display: none;
    }

}

@media (max-width:768px){
    html{
        font-size: var(--basic-font-mobile);
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;
    }
    .pc{
        display: none;
    }
    .pad{
        display: none;
    }
    .mo{
        display: block;
    }
}